@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap');

* {
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e9e7d3;
}

nav {
    background-color: #6A8C69;
    padding: 2vh 0vw;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
}

nav a {
    margin-left: 2vw;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: #A8B545;
}

.headings {
    padding: 2vh 0;
}

main {
    padding: 6.5vh 16px 9vh 16px;
    background-color: #e9e7d3;
    height: auto;
}

h1 {
    color: #53736A;
}

h1, h2 {
    text-align: center;
}

.recipe-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    height: auto;
    row-gap: 3vw;
    column-gap: 3vw;
}

.recipe-item {
    display: grid;
    place-items: center;
    border: 1px solid #C2C0A6;
    background-color: #C2C0A6;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 900px
}

.recipe-links {
    color: #53736A;
}

footer {
    padding: 24px 0px;
    background-color: #C2C0A6;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-weight: bold;
}

img {
    height: 200px;
    box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.detail-title {
    margin: 3vh 0vh;
}

.detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.detail-star {
    text-align: center;
    margin-bottom: 3vh;
}

table {
    margin: 1vh auto 3vh auto;
}

tr:nth-child(even) {
    background-color: white;
}

.steps {
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 1vh;
}

.steps {
    display: inline-block;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .recipe-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 700px) {
    .recipe-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
